<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6c_QNRM0ZjtoBA17MKDFWNqciFmtuMBM</string>
	<key>GCM_SENDER_ID</key>
	<string>609301909175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tictactoe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tictactoefyp</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoefyp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609301909175:ios:df0525a5761f8062cc0732</string>
</dict>
</plist>